@import "globals";
@import "attribution";

.boxForSlider {
  position: relative;
  height: 100vh;
  width: 100vw;
  .buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: calc(50vh + -280px); //125px; 15.62vh
    right: calc(50vw - 192px); //538px;
    width: 114px;
    height: 56px;
    border-radius: 56px;
    z-index: 100;
    background-color: white;
    box-shadow: 0px 10px 20px hsl(240, 38%, 60%, 30%);
    .boxForSvg {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;
      width: 58px;
      cursor: pointer;
      svg {
        height: 18px;
        width: 13px;
      }
    }
  }

  .slider {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: hidden;
    // overflow-y: scroll;
    position: relative;
    scroll-behavior: smooth;
    // scroll-snap-type: x mandatory;
    background: left bottom url(/images/pattern-curve.svg) no-repeat;
    z-index: -60;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    .slide {
      height: 100vh;
      width: 100vw;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      scroll-snap-align: center;
      .card {
        position: relative;
        height: 800px;
        width: 1440px;
        padding: 280px 167px;
        z-index: -100;
        background: 670px 50px url(/images/pattern-bg.svg) no-repeat,
          260px 215px url(/images/pattern-quotes.svg) no-repeat;
        .boxForImg {
          position: absolute;
          height: 540px;
          left: 735px;
          top: 115px;
          z-index: -50;
          box-shadow: -5px 10px 10px hsl(240, 38%, 60%, 5%),
            10px 0px 10px hsl(240, 38%, 60%, 5%);

          img {
            border-radius: 5px;
          }
          .divForShadow {
            position: absolute;
            width: 340px;
            height: 20px;
            top: 519px;
            right: 178px;
            // background-color: blue;
            z-index: -60;
            box-shadow: 0px 15px 30px hsla(240, 17%, 49%, 0.6);
            // box-shadow: 0px 20px 40px hsl(240, 38%, 10%);
          }
        }
        .text {
          width: 632px;
          margin-bottom: 25px;
          font-weight: 300;
          line-height: 1.36;
          z-index: 50;
          color: hsl(240, 38%, 20%);
        }
        .name {
          display: inline-block;
          font-size: 20px;
          font-weight: 700;
          color: hsl(240, 38%, 20%);
        }
        .pos {
          display: inline-block;
          font-size: 20px;
          color: hsl(240, 18%, 77%);
          font-weight: 500;
        }
      }
    }
  }
}
@import "mediaQs";
