@media screen and (max-width: 500px) {
  .boxForSlider {
    padding-bottom: 50px;
    .buttons {
      width: 80px;
      height: 39px;
      right: calc(50vw - 40px);
      top: 290px;
      .boxForSvg {
        svg {
          height: 13px;
          width: 9px;
          path {
            stroke-width: 4px;
          }
        }
      }
    }
    .slider {
      background: left bottom / 277px 68px url(/images/pattern-curve.svg)
        no-repeat;
      .slide {
        align-items: start;
        .card {
          width: 320px;
          height: auto;
          padding: 0;
          padding-bottom: 70px;
          background: 0px 25px / 321px 310px url(/images/pattern-bg.svg)
              no-repeat,
            center 365px / 60px 50px url(/images/pattern-quotes.svg) no-repeat;
          .boxForImg {
            position: static;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 365px;
            margin-bottom: 27px;
            box-shadow: none;
            img {
              display: block;
              width: 255px;
              box-shadow: -5px 10px 10px hsl(240, 38%, 60%, 5%),
                10px 0px 10px hsl(240, 38%, 60%, 5%);
            }
            .divForShadow {
              width: 80px;
              top: 290px;
              right: 176px;
            }
          }
          .text {
            width: auto;
            margin-bottom: 17px;
            font-size: 18px;
            text-align: center;
          }
          .name {
            display: block;
            font-size: 15px;
            text-align: center;
          }
          .pos {
            display: block;
            font-size: 15px;
            text-align: center;
          }
        }
      }
    }
  }
}
